<p id="notice"><%= notice %></p>

<p>
  <b>Visit date:</b>
  <%= @dhermatologic_visit.visit_date %>
</p>

<p>
  <b>Chief complaint:</b>
  <%= @dhermatologic_visit.chief_complaint %>
</p>

<p>
  <b>History illness:</b>
  <%= @dhermatologic_visit.history_illness %>
</p>

<p>
  <b>Ex general:</b>
  <%= @dhermatologic_visit.ex_general %>
</p>

<p>
  <b>Weight:</b>
  <%= @dhermatologic_visit.weight %>
</p>

<p>
  <b>Diagnosis:</b>
  <%= @dhermatologic_visit.diagnosis %>
</p>

<p>
  <b>Medication:</b>
  <%= @dhermatologic_visit.medication %>
</p>

<p>
  <b>Procedures:</b>
  <%= @dhermatologic_visit.procedures %>
</p>


<%= link_to 'Edit', edit_dhermatologic_visit_path(@dhermatologic_visit) %> |
<%= link_to 'Back', dhermatologic_visits_path %>
