<p id="notice"><%= notice %></p>

<p>
  <b>Patient:</b>
  <%= @patient_profile.patient_id %>
</p>

<p>
  <b>H none:</b>
  <%= @patient_profile.h_none %>
</p>

<p>
  <b>H cancer:</b>
  <%= @patient_profile.h_cancer %>
</p>

<p>
  <b>H others:</b>
  <%= @patient_profile.h_others %>
</p>


<%= link_to 'Edit', edit_patient_patient_profile_path %> |

